<html>

<head>
  <meta http-equiv=Content-Type content="text/html; charset=utf-8">
</head>

<body>
  <table border=1 cellspacing=0 cellpadding=0>
    <tr style='height:56pt'>
      <td>
        <p align=center style='text-align:center'>
          <span style='font-size:32pt'>{{lang}}</span>
        </p>
      </td>
      <td>
        <p align=center style='text-align:center'>
          <span style='font-size:32pt'>{{pos}}</span>
        </p>
      </td>
      <td>
        <p align=center style='text-align:center'>
          <span style='font-size:32pt'>{{tier}}</span>
        </p>
      </td>
    </tr>
    <tr>
      <td width=456 colspan=3 valign=top style='padding:6pt;height:128pt'>
        <table border=1 style='border-collapse:collapse'>
          <tr style='height:36pt'>
            <td width=440 valign=top>
              <p></p>
            </td>
          </tr>
          <tr style='height:42pt'>
            <td width=440 valign=top>
              <p align=center style='text-align:center'>
                <span style='font-size:32pt'>{{morphem}}</span>
              </p>
            </td>
          </tr>
          <tr style='height:42pt'>
            <td width=440 valign=top style='padding:6pt'>
              <p align=center style='text-align:center'>
                <span style='font-size:20pt'>{{definition}}</span>
              </p>
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <tr style='height:64pt'>
      <td width=456 colspan=3 valign=top style='padding:6pt'>
        <table border=1 style='border-collapse:collapse'>
          <tr style='height:56pt'>
            <td width=440 valign=top style='padding:6pt'>
              <p align=center style='text-align:center'>
                <span style='font-size:16pt'>{{text}}</span>
              </p>
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <tr style='height:96pt'>
      <td width=456 colspan=3 />
    </tr>
  </table>
</body>

</html>